.alpha {
    padding-top: 30px;
    padding-bottom: 15px;
}
.box {
    background: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
    height: 500px;
    top: 600px;
    display: flex;
    justify-content: center;
}

.stylize{
    position:relative;
    top: 510px;
    object-fit: cover;
    z-index: 1;
}

.img-wrapper{
    overflow:hidden;
}

.icon{
    border-radius: 18px;
    margin: 0 auto;
}

.sexy  {
    font-size: 20px;
    font-weight: 700px;
    
}
.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}

.slick-dots li.slick-active button:before {
    color: #881798;
}

.slick-prev:before,
.slick-next:before {
  color: #881798;
}

.text {
    font-size: 50px;
    font-weight: 700;
    padding-top: 35px;
}

.description {
    font-size: 25px;
    font-weight: 400;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 15px;
}

.slick-slide img:hover {
    transition: transform .5s; 
    transform: scale(1.2);  
  }