html,body{
  height:100%;
  object-fit: cover;
}

.carousel,.item,.active{
  height:700%;
  object-fit: cover;
}

.carousel-inner{
   height:100%;
   object-fit: cover;
}

.swiper-button-next::after {
  display: none;
}

.rec.rec-arrow-left:hover:enabled,
.rec.rec-arrow-right:hover:enabled{
    background-color: var(--clr-primary-400);
    box-shadow: 0 0 1px 3px var(--clr-primary-400);
}