.navbar-logo {
  position: absolute;
  color: white;
  font-size: 38px;
  font-family: "Questrial";
  font-weight: 500;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
}

.nav-menu {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 12px;
  align-items: center;
  list-style: none;
  width: 90vw;
  justify-content: flex-end;
  color: black;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.4rem 1rem;
  font-size: 16px;
}

.nav-links:hover {
  background-color: #428a13;
  border-radius: 6px;
  padding: 15px;
  transition: all 0.2s ease-out;
}
