/*Footer*/
/*Container for footer*/
.bottom-footer {
  background-color: #000;
  bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

/*Credits*/
.built-credits {
  text-align: center;
}

/*Credits*/
.built-credits h3 {
  font-size: 1.1em;
  color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 5px;
}

/*icon body*/
.footer-icons-body {
  z-index: 1;
  text-align: center;
}

@media (max-width: 767px) {
  .footer-icons-body {
    z-index: 1;
    text-align: center;
  }
}
.footer-icons {
  color: black;
  margin-top: 5px;
  margin-bottom: 8px;
  padding: 0;
}

.icons {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 30px;
}
