.Signup {
    background: url("https://wallpaperaccess.com/full/622263.jpg");
    height: 1000px;
    display: flex;
    background-size: cover;
  }

.Sign {
    height: 758px;
    width: 480px;
    display: flex;
    background: white;
    max-width: 580px;
    padding: 24px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 24%), 0 0 8px 0 rgb(0 0 0 / 8%);
    border-radius: 16px;
    margin: auto;
    margin-top: 50px;
    flex-direction: column;
    
}

.photo {
    width:250px;
    height:80px;
    align-self:center;
    font-size: 24px;
    font-weight: 600;
    font-family:Proxima Nova,Arial,sans-serif;;
}

.info {
    align-self:center;
    font-size: 16px;
    color: #fff;
    height: 38px;
    width: 432px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    background: transparent;
    padding: 0;
    border-radius: 6px;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    background-size: 24px;
    background-position: 16px;
    background-repeat: no-repeat;
    background-color: #4184f3;
    background-image: url(https://cdn-assets.alltrails.com/assets/packs/4edd1d14ce8a66bc49d0.svg);
}

.info2 {
    position: relative;
    top: 30px;
    align-self:center;
    font-size: 16px;
    color: #fff;
    height: 38px;
    width: 432px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    background: transparent;
    padding: 0;
    border-radius: 6px;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    background-size: 24px;
    background-position: 16px;
    background-repeat: no-repeat;
    background-color: #3c5997;
    background-image: url(https://cdn-assets.alltrails.com/assets/packs/ff0568befff228cd9af8.svg);
}

.info3 {
    position: relative;
    top: 60px;
    align-self:center;
    font-size: 16px;
    color: #fff;
    height: 38px;
    width: 432px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    background: transparent;
    padding: 0;
    border-radius: 6px;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    background-size: 24px;
    background-position: 16px;
    background-repeat: no-repeat;
    background-color: #000;
    background-image: url(https://cdn-assets.alltrails.com/assets/packs/17d7f1caae883a344879.svg);
}

.searchInputse {
    display: flex;
    position: relative;
    top: 100px;
    margin: 14px;
  }
  
  .searche input {
    background-color: white;
    font-size: 16px;
    height: 43px;
    width: 490px;
    margin: auto;
    font-family: Proxima Nova,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.33;
    font-family: Proxima Nova, Arial, sans-serif !important;
    border-radius: 8px;  
    color: #414141;
    outline: none;
    border: 1px solid rgba(63, 52, 52, 0.5);
  }
  
  .searchee {
    top: 80px;
    position: relative;
    text-align:center;
    font-size: 16px;
    color: #fff;
    height: 38px;
    width: 372px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    background: transparent;
    padding: 0;
    border-radius: 14px;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    background-size: 24px;
    background-position: 16px;
    background-color: #69a041;
    margin: auto;
  }
  
  
  .searchIcone svg {
    font-size: 25px;
  }

  
  
.timeAgo {
    position: relative;
    top: 40px;
    margin: auto;
    font-size:14px;
    
}

.linee {
  position: relative;
  height: 1%;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  top: 90px;
}

.fixe {
  padding-top: 70px;
  font-size: 16px;
  color: #00ff0d;
  line-height: 24px;
  text-align: center;
}