.container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 128px 0 96px;
    position: relative;
    top: 590px;
}

.container-first {
    width: 32%;
}

.container-second {
    width:32%;
}

.container-third {
    width:32%;
}

.stat{
    font-family: Proxima Nova,Arial,sans-serif;
    font-weight: 700;
    color: #428a13;
    margin-bottom: 8px;
    font-size: 84px;
    font-stretch: normal;
    font-style: normal;
    line-height: .86;
    letter-spacing: -1px;
    white-space: nowrap;
}

.stat-submodule {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -.2px;
    font-family: Proxima Nova,Arial,sans-serif;
    font-weight: 700;
    color: #428a13;
    margin-bottom: 8px;
}

.stat-description {
    font-family: Proxima Nova,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #414141;
    width: 80%;
    margin: 0 auto;
}
